<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ConcurrentTestSuite" parallel="tests">
    <listeners>
<!--        <listener class-name="extentReport.ExtentTestNGListener"></listener>-->
    </listeners>
    <test name="ChromeTest">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="application.BaseTests" />
        </classes>
    </test>
<!--    <test name="EdgeTest">-->
<!--        <parameter name="browser" value="edge"/>-->
<!--        <groups>-->
<!--            <run>-->

<!--                <exclude name="hotSellers"></exclude>-->
<!--                <exclude name="compareImgClicked"></exclude>-->
<!--                <exclude name="weatherTankProduct"></exclude>-->
<!--                <exclude name="heroHoodie"></exclude>-->
<!--                <exclude name="pulloverItem"></exclude>-->
<!--                <exclude name="checkout"></exclude>-->
<!--            </run>-->
<!--        </groups>-->
<!--        <classes>-->
<!--            <class name="application.BaseTests"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>